html{
    background:linear-gradient(to right, #48bfe3, #8338ec);
    font-size: medium;
}


#btn2{
    position: relative;
    margin: auto;
    border-radius: 20px;
    font-size: medium;
}



#model{
position: relative;
background-color:bisque ;
height: 300px;
width: 350px;
margin-top: 25vh;
margin-left: 35vw;
border-radius: 50px;
border: solid black 2px;
z-index: 2;
/* opacity: 0.8; */

}

#inner{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
}

#btn1{
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
}

#pic{
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: #00274a;
    border-radius: 60px;
    margin-top: -60px;
    text-align: center;
}

.fields{
    margin:2% 10%; 
    height: 30px;
    width: 80%;
    background-color: #385273;
    color: white;
}

