html{
    background-color: darkmagenta;
}

#btn{
    position: relative;
    margin: auto;
    border-radius: 10px;
    font-size: medium;
    
    /* background-color: aliceblue; */
}

#model:hover{
    box-shadow: 5px 5px 5px 5px gray,  10px 10px 10px  gray;
}

#model{
position: relative;
background-color:bisque ;
height: 200px;
width: 250px;
margin-top: 35vh;
margin-left: 35vw;
border-radius: 10px;
border: solid black 2px;
z-index: 2;
}

#inner{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
}

#btn1{
    margin: auto;
    margin-top: 10px;;
}